body{
    font-family: "Poppins", Arial, sans-serif;
}.container-fluid{
    text-align: center;
}
.head{
    background-color: #82ae46;
}
span{
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
}
.icon{
    color: white;
}
.brand-name{
    color:#82ae46 ;
    font-weight: 800;
    font-size: 20px;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
}
.tabs{
    font-size: 11px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.nav-item a:hover{
    text-decoration: none;
    color: black;
}
.title a:hover{
    color: black;
}
#feat-prod span{
    color: #82ae46;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    text-align: center;
}
#feat-prod h2{
    font-weight: 600;
    color: black;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}
#feat-prod p{
    margin-bottom: 1rem;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    text-align: center;
}
.card h3{
    color: black;
}
.card a{
    text-decoration: none;
}
.card-body p.amt span.before{
    text-decoration: line-through;
    color: #b3b3b3;
}
.card-body p.amt span.after{
    color: #82ae46;

}
.fav{
    text-align: center;
    color: #82ae46;
    font-size: 20px;
    padding:1px ;
}
.text a{
    color: black;
}
.card-body h3{
    text-align: center;
    font-size: 16px;
    font-style: "Poppins", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
}
#feat-prod{
    padding: 5% 10%;
}
#sponsers img{
    vertical-align:middle ;
}
#sponsers .img-fluid{
    max-width: 100%;
    height: auto;
}
#sponsers{
    padding: 5% 10%;
}
.cont h2{
    text-align: left;
    font-size: 16px;
}
.cont p{
    font-size: 14px;
}
.social li a{
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    font-size: 20px;
    color: black;
    
}
.social li{
    list-style: none;
}
.cont li a{
    text-decoration: none;
}
.option li a{
    color: black;
    font-size: 14px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: left;
    display: block;
}
#contact{
    padding:5% 10% ;
}
#category{
    padding: 5% 10%;
}
.category h2{
    color: #82ae46;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    font-size: 24px;
}
.category p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.category{
    text-align: center;
}
.cate-img{
    width: 100%;
    height: 250px;
}
#feature{
    padding: 5% 10%;
}
.feat h3{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}
.feat span{
    color: #b3b3b3;
    font-size: 14px;
}
.feat a{
    color: black;
    font-size: 50px;
}
.feat{
    text-align: center;
}
.feat a:hover{
    color: #82ae46;
}
.copy-right{
    text-align: center;
    font-size: 18px;
}
.copy-right span{
    color: #82ae46;
    font-size: 18px;
}
#testimonials{
    padding: 5% 10%;
}
#testimonials span{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #82ae46;
    text-align: center;
}
#testimonials h2{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
}
#testimonials p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #b3b3b3;
    text-align: center;
}
#newsletter{
    padding: 5% 10%;
}
.center-cont{
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered h1{
    font-size: 8vw;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    font-family: "Amatic SC", cursive;
  }
  .centered h2{
    font-family: "Poppins", Arial, sans-serif;
  }
  .det-btn{
    background-color: #82ae46;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    font-weight: 400;
  }
.centered a:hover{
    background-color: #82ae46;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .contai{
    position: relative;
    text-align: center;
    color: white;
  }
  #special img{
    width: 100%;
    height: 800px;
  }
  .center-cont img{
    width: 100%;
    height: 800px;
  }
  .spec-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
  }
  .spec{
    position: relative;
    text-align: center;
    color: white;
  }
.spec-cont a{
    text-decoration: none;
    color:#82ae46;
}